# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ProtectCarrot.iml
# Datasource local storage ignored files
/../../../../../../../:\learn-csharp\FirstUnityWithD337\ProtectCarrot\.idea\.idea.ProtectCarrot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
